* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #444;
}

/* GENERAL */

.image {
  max-width: 100%;
  object-fit: cover;
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
}

.icon-sm {
  width: 2.4rem;
  height: 2.4rem;
}

.icon-lg {
  width: 4.8rem;
  height: 4.8rem;
}

/* HEADER */
.header {
  height: 80px;
  width: 100%;
  box-shadow: 1px 1px 5px 1px #ccc;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-button {
  background: none;
  border: none;
  position: relative;
}

.cart-amount-indicator {
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  top: 0;
  right: 0;
  background: #f5e8c7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.cart-modal {
  position: fixed;
  height: 300px;
  width: 90%;
  background: #fff;
  box-shadow: 1px 1px 5px 1px #ccc;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 500;
}

/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  column-gap: 0.8rem;
  row-gap: 2.4rem;
  padding: 0.8rem;
  margin-top: 88px;
}

.product {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px 1px #ccc;
  position: relative;
  border-radius: 3px;
}

.product-content {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 0.8rem;
}

.product-description {
  font-weight: 300;
  font-size: 1.4rem;
}

.product-cart-indicator {
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  bottom: -9px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 5px 1px #ccc;
  background: #fff;
}

.product.selected .product-cart-indicator {
  background: #f5e8c7;
}

.product-title {
  font-size: 2.4rem;
}

/* CART MODAL */

.cart-modal {
  padding: 1.6rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  min-height: 500px;
  overflow: scroll;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.cart-item {
  min-height: 150px;
  width: 100%;
  border: 1px solid #444;
  border-radius: 3px;
  display: flex;
  padding: 0.8rem;
  gap: 1.6rem;
}

.cart-item-image-cont {
  display: flex;
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
}

.cart-item-image {
  object-position: center center;
}

.cart-item-title {
  font-size: 1.8rem;
}

.cart-item-description {
  font-size: 1.2rem;
  font-weight: 300;
}

.cart-item-content-container {
  display: flex;
  flex-direction: column;
}

.cart-item-content {
  flex: 3;
}

.cart-item-actions {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.cart-item-increment {
}
